
:root {
    --dark-blue:  rgb(8, 63, 119);
}
.my-nav {
    background-color: var(--dark-blue) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.my-nav a {
    color:  aliceblue ;
}

.my-nav i {
    color: aliceblue;
}

.my-list a {
    color: aliceblue;
}

.main-hero {
    background-image: url("/images/hero-bg.jpg") !important;
    background-size: cover;
}

h2, h3 {
    background-color: var(--dark-blue) !important;
}

.card {
    margin-bottom: 5px;
    margin-top: 5px;
}

.card:hover {
    border: 3px solid aliceblue;
}

.myBtn {
    background-color: aliceblue;
    color: var(--dark-blue);
    border: solid var(--dark-blue);
}

.myBtn:hover {
    color: lightblue;
    background-color: black;
    border: solid lightblue;
}

.contactCard {
   background-color: rgb(175, 203, 218);
}

footer {
    background-image: url("/images/footer-bg.png");
    background-size: cover;
}

.iconMy {
    color: aliceblue;
}

.iconMy:hover {
    color: rgb(255, 0, 234);
}

@media screen and (min-width: 1224px) {
    .cardContainer {
    display: flex;
    }
    
    .card {
    flex: 0 0 90%;
    }
}
